#join_headerArea {width: 100%;background: #fff;border-bottom: 1px solid #ddd;margin-bottom: 100px}
#join_headerArea .join_header_inner {width: 1200px; margin: 0 auto}
#join_headerArea {}
#join_headerArea .join_logo {margin: 0;padding: 20px 20px}
#join_headerArea .join_logo a {display: block;width: 147px;height: 48px;background: url(../../common/images/logo.png);text-indent: -999px; overflow: hidden}

#content {margin-bottom: 200px}
#content h2 {font-size: 24px;text-align: center;margin-bottom: 30px}
#content h3 {font-weight: 700}
#content input {border: none;outline: none;display: block;margin-bottom: 20px}
#content input:placeholder-shown {opacity: .5;font-size: 12px}

#content ul {width: 500px;margin: 0 auto}
#content ul li {margin-bottom: 20px;position: relative}
#content ul li #loadtext,#content ul li #loadtext2 {position: absolute;right: 0;bottom: 30px;font-size: 11px}
#content ul li input {border-bottom: 1px solid #ccc;width: 500px; height: 70px}
#content ul li input:focus {border-bottom: 1px solid #ed1c24}

#content ul li.phone_box {}
#content ul li.phone_box select {border: none; width: 100px; height: 70px;border-bottom: 1px solid #ccc;margin-right: 20px;outline: none}
#content ul li.phone_box input {width: 174px;text-align: center;display: inline-block}

#content ul li.mail_box {}
#content ul li.mail_box input {width: 234px;display: inline-block}

#content ul .button_box {text-align: center;margin-top: 100px}
#content ul .button_box a {display: inline-block;width: 200px;line-height: 24px;padding: 14px 0;border: none;background: #ed1c24;color: #fff;font-size: 14px;cursor: pointer;font-weight: 400}
#content ul .button_box .reset_bt {background: #999}