/*역사 본문*/
#content .content_area {}
#content .content_area .hongkong_history_img {width: 1200px; height: 550px;background: url(../images/content1/history_img.jpg) no-repeat;background-size: cover;background-position: center;margin-bottom: 50px}
#content .content_area p {font-size: 1.143em;line-height: 1.8em;text-align: justify;margin-bottom: 50px}
#content .content_area p:last-of-type {margin-bottom: 100px}
#content .content_area .history {width: 1000px;margin: 0 auto}
#content .content_area .history h3 {font-family: 'Nanum Gothic', sans-serif;font-weight: 700;font-size: 2.143em;text-align: center;margin-bottom: 100px;position: relative}
#content .content_area .history h3:after {content: "";display: block;width: 70px;height: 3px;position: absolute;left: 50%;margin-left: -35px;bottom: -20px;background: #ed1c24}
#content .content_area .history dl {font-family: 'Nanum Gothic', sans-serif}
#content .content_area .history dl:after {content: "";display: block;width: 1px;height: 50px;background: #ccc;position: relative;clear: both;left: 50%;margin:30px 0 30px 0.5px;bottom: -100%}
#content .content_area .history dl:last-of-type:after{display: none}
#content .content_area .history dt {float: left;width: 100px;font-weight: 700;font-size: 1.714em;margin-top: 30px}
#content .content_area .history dl dd {margin-left: 100px}
#content .content_area .history dl dd:first-of-type {color: #ed1c24; font-weight: 700;margin-bottom: 20px}
#content .content_area .history dl dd:last-of-type {font-size: 1.286em;line-height: 1.8em}